nav h1{
    font-size: medium;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5%;
    margin-right: 5%;
    font-weight: bold;
}

section div a button{
    cursor: pointer;
}

.botoes {
    text-align: center;
}

@media (min-width: 600px)
{
  .conjuntoBotoes
   {
    margin-top: 20px;
    width:50%;
   }

}

.botao {
    width: 80%;
    margin-bottom: 5%;
    border-style: solid;
    border-color: black;
}



